<ngx-extended-pdf-viewer [textLayer]="true" [base64Src]="pdf" [showToolbar]="true" [showSidebarButton]="false"
  [showFindButton]="false" [showPagingButtons]="false" [showDrawEditor]="false" [showTextEditor]="false"
  [showZoomButtons]="true" [showPresentationModeButton]="true" [showOpenFileButton]="false" [showPrintButton]="true"
  [showDownloadButton]="true" [showSecondaryToolbarButton]="true" [showRotateButton]="false"
  [showHandToolButton]="false" [showScrollingButton]="false" [showSpreadButton]="false"
  [showPropertiesButton]="false" [minifiedJSLibraries]="false" />